<div class="navigation">
	<div class="nav-menu">
		<div class="item-left"><a href="http://www.qian-huang.com" target="_blank">Sophie Huang</a></div>
		<ul class="item-right">
				<li class="menu-item"><a href="http://www.qian-huang.com" target="_blank">Work</a>
				</li>
				<li class="menu-item"><a href="http://www.qian-huang.com/?page_id=638" target="_blank">About</a></li>
				<li class="menu-item"><a href="https://www.linkedin.com/in/qian-sophie-huang-bb49b173" target="_blank">Contact</a></li>
		</ul>
	</div>
</div>

<div class="welcome">
	<div class="welcome-title">UX & UI</div>
	<div class="welcome-title">Designer</div>
</div>



