<h1>Sophie's github io</h1>
<div class="day-one">
    <h1 class="title">Day 2</h1>
    <div class="price">
        <ul class="list">
            <div ng-repeat="item in products">
                <li class="item" ng-click="selectItem($index)" ng-class="{'item-selected': item.selected}">{{item.name}}<span class="dollar">${{item.price}}</span></li>
            </div>
        </ul>
        <div class="total">
            <span class="total-left">Total</span>
            <span class="total-right">{{totalPrice}}</span>
        </div>
    </div>
</div>

