.day-one{
  background: #5eaebd;
  width: 500px;
  padding: 50px;
}

.title{
  font-size: 90px;
  font-family: 'Cookie', cursive;
  color: white;
  font-weight: normal;
  text-align: center;
}

.item{
  background: #e55684;
  margin-bottom: 5px;
  margin-left: -38px;
  font-size: 24px;
  font-family: 'Cookie', cursive;
  color: white;
  list-style: none;
  clear: both;
  padding: 15px 28px 15px 28px;
  cursor: pointer;
}

.dollar{
  float: right;
}

.item-selected{
  background: #8ec16d;
}

.total{
  font-size: 24px;
  font-family: 'Cookie', cursive;
  color: #404040;
  font-weight: normal;
  border-top: solid 1px white;
  padding: 10px;
}

.total-right{
  float: right;
}

.search-input{
  height: 36px;
  width: 250px;
  font-size: 15px;
  font-family: 'Cookie', cursive;
  color: #666666;
}

.timer{
  margin: 80px;
}

.input-box{
  padding: 15px;
  width: 250px;
  font-size: 15px;
  background: #ffffff;
  border: solid 2px #cccccc;
}

.button-start{
  padding: 15px;
  width: 100px;
  font-size: 15px;
  background: #ffffff;
}

.button-stop{
  padding: 15px;
  width: 100px;
  font-size: 15px;
  color: white;
  background: #000000;
}

.count{
  border: solid 1px #cccccc;
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  border-radius: 9999px;
  font-size: 25px;
  margin: auto;
}

.filter{
  margin: 20px auto;
  font-family: 'Cookie', cursive;
  font-size: 15px;
  color: white;
}


