.single-record {
    border: solid 1px #404040;
    padding: 10px;
    background: #F0F8FF;
    text-align: center;
    margin: 5px 100px;
    cursor: pointer;
}

.next, .go-up {
    text-align: center;
    font-size: 20px;
    border: solid 1px #404040;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 9999px;
    line-height: 35px;
    margin: 0 auto;
}

.go-up {
    float: right;
    line-height: 30px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
